<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudo.hj.dao.PriCourseSchInfoDao">


    <resultMap id="priCourseSchInfo" type="com.cloudo.hj.domain.PriCourseSchInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="coacher_id" property="coacherId" jdbcType="BIGINT"/>
        <result column="course_id" property="courseId" jdbcType="BIGINT"/>
        <result column="size" property="size" jdbcType="TINYINT"/>
        <result column="sch_start_dt" property="schStartDt" jdbcType="DATE"/>
        <result column="sch_end_dt" property="schEndDt" jdbcType="DATE"/>
        <result column="start_tm" property="startTm" jdbcType="VARCHAR"/>
        <result column="end_tm" property="endTm" jdbcType="VARCHAR"/>
        <result column="weeks" property="weeks" jdbcType="VARCHAR"/>
        <result column="cards_type" property="cardsType" jdbcType="INTEGER"/>
        <result column="other_type" property="otherType" jdbcType="VARCHAR"/>
        <result column="op_tm" property="opTm" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        t.id
        , t.shop_name
        , t.coacher_id
        , t.course_id
        , t.size
        , t.sch_start_dt
        , t.sch_end_dt
        , t.start_tm
        , t.end_tm
        , t.weeks
        , t.cards_type
        , t.other_type
        , t.op_tm
    </sql>

    <sql id="table_name">
        hj_pri_cour_sch_info
    </sql>

    <select id="findAll" resultMap="priCourseSchInfo">
        select
        <include refid="Base_Column_List"/>
        from
      <include refid="table_name"/>
        AS t order by t.op_tm;
    </select>

    <select id="findByParam" resultMap="priCourseSchInfo" parameterType="com.cloudo.hj.param.CourseParam">
        select
        <include refid="Base_Column_List"/>
        from <include refid="table_name"/> AS t
        WHERE 1=1
        <if test="id>0">
            and t.id =   #{id}
        </if>
        <if test="coacherId!=null">
            and t.coacher_id =   #{coacherId}
        </if>
        <if test="shopName!=null">
            and t.shop_name like "%"#{shopName}"%"
        </if>
        <if test="schFrom!=null">
            and sch_end_dt &gt;= #{schFrom}
        </if>
        <if test="schTo!=null">
            and sch_start_dt &lt;= #{schTo}
        </if>
    </select>

    <select id="findSimple" resultMap="priCourseSchInfo" parameterType="com.cloudo.hj.domain.PriCourseSchInfo">
        select
        <include refid="Base_Column_List"/>
        from <include refid="table_name"/> AS t
        WHERE 1=1
        <if test="id>0">
            and t.id =   #{id}
        </if>
        <if test="shopName!=null">
            and shop_name like #{shopName}
        </if>

    </select>

    <insert id="save" parameterType="com.cloudo.hj.domain.PriCourseSchInfo" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO <include refid="table_name"/> (
         shop_name
        , coacher_id
        , course_id
        , size
        , sch_start_dt
        , sch_end_dt
        , start_tm
        , end_tm
        , weeks
        , cards_type
        , other_type
        )
        values (
        #{shopName},
        #{coacherId},
        #{courseId},
        #{size},
        #{schStartDt},
        #{schEndDt},
        #{startTm},
        #{endTm},
        #{weeks},
        #{cardsType},
        #{otherType}
        );
    </insert>


    <update id="update" parameterType="priCourseSchInfo">
        UPDATE <include refid="table_name"/>
        <set>
            <if test="shopName!=null">
                `shop_name` = #{shopName},
            </if>
            <if test="coacherId!=null">
                `coaacher_id` = #{coacherId},
            </if>
            <if test="courseId!=null">
                `course_id` = #{courseId},
            </if>
            <if test="size>0">
                `size` = #{size},
            </if>
            <if test="schStartDt!=null">
                `sch_start_dt` = #{schStartDt},
            </if>
            <if test="schEndDt!=null">
                `sch_end_dt` = #{schEndDt},
            </if>
            <if test="startTm!=null">
                `start_tm` = #{startTm},
            </if>
            <if test="endTm!=null">
                `end_tm` = #{endTm},
            </if>
            <if test="weeks!=null">
                `weeks` = #{weeks},
            </if>
            <if test="cardsType!=null">
                `cards_type` =#{cardsType},
            </if>
            <if test="otherType!=null">
                `other_type` =#{otherType},
            </if>
        </set>
        WHERE id = #{id}
    </update>

<!--    <update id="updateByParam" parameterType="com.cloudo.hj.domain.CoacherInfo">
        UPDATE HJ_COACHER_INFO
        SET
        `value` = #{value}
        WHERE `code` = #{code} and `type` = #{type}
    </update>-->

    <delete id="remove" parameterType="java.lang.Long">
        DELETE
        FROM <include refid="table_name"/>
        WHERE id =
        #{id}
    </delete>

    <select id="find" parameterType="java.lang.Long" resultMap="priCourseSchInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM <include refid="table_name"/> AS t
        WHERE t.id = #{id}
    </select>

</mapper>
