<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudo.hj.dao.ReservationInfoDao">

    <resultMap id="reservationInfo" type="com.cloudo.hj.domain.ReservationInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="start_tm" property="startTm" jdbcType="TIMESTAMP"/>
        <result column="end_tm" property="endTm" jdbcType="TIMESTAMP"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="trainee_id" property="traineeId" jdbcType="BIGINT"/>
        <result column="coacher_id" property="coacherId" jdbcType="BIGINT"/>
        <result column="course_id" property="courseId" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="reserva_tm" property="reservaTm" jdbcType="TIMESTAMP"/>
        <result column="cancel_tm" property="cancelTm" jdbcType="TIMESTAMP"/>
        <result column="cancel_reason" property="cancelReason" jdbcType="VARCHAR" />
        <result column="cards" property="cards" jdbcType="VARCHAR" />
        <result column="op_tm" property="opTm" />
    </resultMap>

    <resultMap id="reservationVo" type="com.cloudo.hj.vo.ReservationVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="start_tm" property="startTm" jdbcType="TIMESTAMP"/>
        <result column="end_tm" property="endTm" jdbcType="TIMESTAMP"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="coacher_name" property="coacherName" jdbcType="BIGINT"/>
        <result column="course_name" property="courseName" jdbcType="BIGINT"/>
        <result column="course_desc" property="courseDesc" jdbcType="BIGINT"/>
        <result column="cover_dir" property="coverDir" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="reserva_tm" property="reservaTm" jdbcType="TIMESTAMP"/>
        <result column="cancel_tm" property="cancelTm" jdbcType="TIMESTAMP"/>
        <result column="cancel_reason" property="cancelReason" jdbcType="VARCHAR" />
        <result column="cards" property="cards" jdbcType="VARCHAR" />
        <result column="op_tm" property="opTm" />
    </resultMap>

    <sql id="Base_Column_List">
        t.id
        , t.start_tm
        , t.end_tm
        , t.shop_name
        , t.trainee_id
        , t.coacher_id
        , t.course_id
        , t.type
        , t.status
        , t.reserva_tm
        , t.cancel_tm
        , t.cancel_reason
        , t.cards
        , t.op_tm
    </sql>

    <sql id="table_name">
        hj_reservation_info
    </sql>

    <select id="findAll" resultMap="reservationInfo">
        select
        <include refid="Base_Column_List"/>
        from <include refid="table_name"/>  AS t order by t.op_tm;
    </select>

    <select id="findByParam" resultMap="reservationInfo"
            parameterType="com.cloudo.hj.param.ReservationParam">
        select
        <include refid="Base_Column_List"/>
        from <include refid="table_name"/> AS t
        WHERE 1=1
        <if test="id>0">
            and t.id = #{id}
        </if>
        <if test="traineeId!=null" >
            and t.trainee_id = #{traineeId}
        </if>
        <if test="shopName!=null">
            and t.shop_name like "%"#{shopName}"%"
        </if>
        <if test="bookFrom!=null">
            and t.reserva_tm &gt;= #{bookFrom}
        </if>
        <if test="bookTo!=null">
            and t.reserva_tm &lt;= #{bookTo}
        </if>
        <if test="courseDate!=null">
            and t.start_tm &lt; #{courseDate}
            and t.end_tm &gt; #{courseDate}
        </if>
    </select>


    <insert id="save" parameterType="com.cloudo.hj.domain.ReservationInfo" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO <include refid="table_name"/> (
        start_tm
        ,end_tm
        , shop_name
        , trainee_id
        , coacher_id
        , course_id
        , type
        , status
        , reserva_tm
        , cancel_tm
        , cancel_reason
        , cards
        )
        values (
        #{startTm},
        #{endTm},
        #{shopName},
        #{traineeId},
        #{coacherId},
        #{courseId},
        #{type},
        #{status},
        #{reservaTm},
        #{cancelTm},
        #{cancelReason},
        #{cards})
    </insert>


    <update id="update" parameterType="com.cloudo.hj.domain.ReservationInfo">
        UPDATE <include refid="table_name"/>
        <set>
            <if test="startTm!=null">
                `start_tm` = #{startTm},
            </if>
            <if test="endTm!=null">
                `end_tm` = #{endTm},
            </if>
            <if test="shopName!=null">
                `shop_name` = #{shopName},
            </if>
            <if test="traineeId !=null  ">
                `trainee_id` = #{traineeId},
            </if>
            <if test="coacherId !=null">
                `coacher_id` = #{coacherId},
            </if>
            <if test="courseId !=null">
                `course_id` = #{courseId},
            </if>
            <if test="type !=null">
                `type` = #{type},
            </if>
            <if test="status!=null">
                `status` = #{status},
            </if>
            <if test="reservaTm !=null ">
                `reserva_tm` = #{reservaTm} ,
            </if>
            <if test="cancelTm != null">
                `cancel_tm` = #{cancelTm} ,
            </if>
            <if test="cancelReason != null">
                `cancel_reason` = #{cancelReason} ,
            </if>
            <if test="cards != null">
                `cards` = #{cards} ,
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--    <update id="updateByParam" parameterType="com.cloudo.hj.domain.CoacherInfo">
            UPDATE HJ_COACHER_INFO
            SET
            `value` = #{value}
            WHERE `code` = #{code} and `type` = #{type}
        </update>-->

    <delete id="remove" parameterType="java.lang.Long">
        DELETE
        FROM <include refid="table_name"/>
        WHERE id =
        #{id}
    </delete>

    <select id="findSimple" parameterType="com.cloudo.hj.param.ReservationParam" resultMap="reservationVo">
        SELECT
        t.id as id,
        r.name as course_name,
        r.cover_dir,
        r.course_desc,
        t.start_tm,
        t.end_tm,
        s.cu_size,
        j.name as coacher_name,
        t.type,
        t.status,
        t.reserva_tm
        from hj_reservation_info t,hj_pri_cour_detail_info s,hj_course_info r,hj_coacher_info j
        where t.course_id = s.id and s.coacher_id = j.id
        and s.course_id = r.id

        <if test="id!=null">
            and t.id = #{id}
        </if>
        <if test="traineeId!=null" >
            and t.trainee_id = #{traineeId}
        </if>
        <if test="shopName!=null">
            and t.shop_name like "%"#{shopName}"%"
        </if>
        <if test="bookFrom!=null">
            and t.reserva_tm &gt;= #{bookFrom}
        </if>
        <if test="bookTo!=null">
            and t.reserva_tm &lt;= #{bookTo}
        </if>
        <if test="courseDate!=null">
            and t.start_tm &lt; #{courseDate}
            and t.end_tm &gt; #{courseDate}
        </if>
    </select>


    <!-- FIXME: 下面没有改完-->

</mapper>
